# Вендорные файлы
/node_modules

# Сборка проекта
dist
build
generated
bun.lock*
package-lock.json
yarn.lock

# Окружение
.env
*.local

# IDE
.vscode/
.idea/

# Turbo
.turbo

# Vercel
.vercel

# Логи и временные файлы
*.log
*.tmp

# Архивы
*.zip
*.tar
*.gz
